
.trip-main {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100%;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .trip-image {
    max-width: 300px;
    max-height: 250px;
    margin-bottom: 1rem;
  }
  
  .new-trip-button {
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    background-color: #d0d8e0; 
    color: #272121;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    /* transition: background-color 0.3s ease; */
  }
  
 
  