.sidebar-panel {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }

  
.sidebar-panel-img {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: aliceblue;
    box-shadow: none;
    border: none;
    
  }

  .sidebar-panel-img img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
  .sidebar-panel-img h5 {
    font-size: 15px;
    font-weight: bold;
    color: green;
    margin: 0;
    white-space: nowrap; 
  }